/*.iml
/dist
/.idea
burst.jar
brs.log
brs.log.*
/conf/logging.properties
/conf/brs.properties
_config.yml
/html/ui/doc/*
target
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.classpath
.settings/org.eclipse.jdt.core.prefs
